.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.active {
  color: rgb(195, 255, 195);
  text-decoration: none;
}

.messages {
  padding: 10px;
  background-image: linear-gradient(0deg, rgb(45, 134, 194), rgb(144, 223, 255));
}

.dialogAva {
  width: 50px;
  border-radius: 50%;
}